$color-blue: #1385e5 !default;
$color-gray: #dfe0e4 !default;
$color-white: #ffffff !default;
$color-gray-dark:#999999 !default;
$color-gray-semi:#cccccc !default;
$slider-handle-size: 20px !default;
$slider-size: 4px !default;
$slider-fix: 20px !default;
